In [2]:
# Bring in snap counts for each year

import pandas as pd
import numpy as np

qb12 = "../Snap Count/qb/qb2012.csv"

snap_count12 = pd.read_csv(qb12)
snap_count12.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,RushSnapPercentage,TargetSnapPercentage,TouchSnapPercentage,IntendedTouchSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Kirk Cousins,WAS,QB,3,95,31.7,9.2,3.2,0.0,53.7,53.7,32.84,34.6
1,2,Robert Griffin III,WAS,QB,15,938,62.5,90.8,12.8,0.1,54.7,54.8,317.50,33.8
2,3,Colin Kaepernick,SF,QB,13,526,40.5,52.3,12.0,0.0,53.4,53.4,174.06,33.1
3,4,Aaron Rodgers,GB,QB,16,1071,66.9,97.1,5.0,0.1,56.7,56.7,343.60,32.1
4,5,Cam Newton,CAR,QB,16,1021,63.8,99.1,12.4,0.0,59.9,59.9,323.46,31.7

In [3]:
# Clean up dataframes

snap_count12.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'RushSnapPercentage',
                   'TargetSnapPercentage', 'TouchSnapPercentage', 'IntendedTouchSnapPercentage',
                   'FantasyPoints', 'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count12.head()

                 Name Team Position  SnapsPlayed
0        Kirk Cousins  WAS       QB           95
1  Robert Griffin III  WAS       QB          938
2    Colin Kaepernick   SF       QB          526
3       Aaron Rodgers   GB       QB         1071
4          Cam Newton  CAR       QB         1021

In [4]:
qb13 = "../Snap Count/qb/qb2013.csv"

snap_count13 = pd.read_csv(qb13)
snap_count13.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,RushSnapPercentage,TargetSnapPercentage,TouchSnapPercentage,IntendedTouchSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Nick Foles,PHI,QB,13,702,54.0,63.6,8.1,0.0,53.3,53.3,259.74,37.0
1,2,Peyton Manning,DEN,QB,16,1156,72.2,95.8,2.8,0.0,59.8,59.8,409.98,35.5
2,3,Josh McCown,CHI,QB,8,421,52.6,39.8,3.1,0.0,56.3,56.3,136.06,32.3
3,4,Drew Brees,NO,QB,16,1111,69.4,98.6,3.2,0.0,61.7,61.7,357.68,32.2
4,5,Michael Vick,PHI,QB,7,325,46.4,29.5,11.1,0.0,54.5,54.5,101.00,31.1

In [5]:
snap_count13.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'RushSnapPercentage',
                   'TargetSnapPercentage', 'TouchSnapPercentage', 'IntendedTouchSnapPercentage',
                   'FantasyPoints', 'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count13.head()

             Name Team Position  SnapsPlayed
0      Nick Foles  PHI       QB          702
1  Peyton Manning  DEN       QB         1156
2     Josh McCown  CHI       QB          421
3      Drew Brees   NO       QB         1111
4    Michael Vick  PHI       QB          325

In [6]:
qb14 = "../Snap Count/qb/qb2014.csv"

snap_count14 = pd.read_csv(qb14)
snap_count14.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,RushSnapPercentage,TargetSnapPercentage,TouchSnapPercentage,IntendedTouchSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Aaron Rodgers,GB,QB,16,983,61.4,93.6,4.4,0.0,57.3,57.3,354.14,36.0
1,2,Andrew Luck,IND,QB,16,1072,67.0,92.8,6.0,0.0,63.4,63.4,350.74,32.7
2,3,Russell Wilson,SEA,QB,16,1054,65.9,99.7,11.2,0.1,54.2,54.2,327.60,31.1
3,4,Peyton Manning,DEN,QB,16,1092,68.2,96.8,2.2,0.0,56.9,56.9,312.68,28.6
4,5,Derek Anderson,CAR,QB,7,178,25.4,16.1,4.5,0.0,59.0,59.0,50.44,28.3

In [7]:
snap_count14.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'RushSnapPercentage',
                   'TargetSnapPercentage', 'TouchSnapPercentage', 'IntendedTouchSnapPercentage',
                   'FantasyPoints', 'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count14.head()

             Name Team Position  SnapsPlayed
0   Aaron Rodgers   GB       QB          983
1     Andrew Luck  IND       QB         1072
2  Russell Wilson  SEA       QB         1054
3  Peyton Manning  DEN       QB         1092
4  Derek Anderson  CAR       QB          178

In [8]:
qb15 = "../Snap Count/qb/qb2015.csv"

snap_count15 = pd.read_csv(qb15)
snap_count15.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,RushSnapPercentage,TargetSnapPercentage,TouchSnapPercentage,IntendedTouchSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Cam Newton,CAR,QB,16,1077,67.3,97.7,12.3,0.0,58.2,58.2,389.08,36.1
1,2,Russell Wilson,SEA,QB,16,1053,65.8,97.2,9.8,0.0,55.7,55.7,336.26,31.9
2,3,Tom Brady,NE,QB,16,1106,69.1,98.8,3.1,0.1,59.6,59.6,343.70,31.1
3,4,Geno Smith,NYJ,QB,1,65,65.0,5.8,3.1,0.0,67.7,67.7,20.00,30.8
4,5,Andy Dalton,CIN,QB,13,802,61.7,75.7,7.1,0.0,55.2,55.2,244.20,30.4

In [9]:
snap_count15.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'RushSnapPercentage',
                   'TargetSnapPercentage', 'TouchSnapPercentage', 'IntendedTouchSnapPercentage',
                   'FantasyPoints', 'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count15.head()

             Name Team Position  SnapsPlayed
0      Cam Newton  CAR       QB         1077
1  Russell Wilson  SEA       QB         1053
2       Tom Brady   NE       QB         1106
3      Geno Smith  NYJ       QB           65
4     Andy Dalton  CIN       QB          802

In [10]:
qb16 = "../Snap Count/qb/qb2016.csv"

snap_count16 = pd.read_csv(qb16)
snap_count16.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,RushSnapPercentage,TargetSnapPercentage,TouchSnapPercentage,IntendedTouchSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Aaron Rodgers,GB,QB,16,1066,66.6,98.0,6.3,0.0,63.5,63.5,380.02,35.6
1,2,Matt Ryan,ATL,QB,16,1022,63.9,98.3,3.4,0.0,55.7,55.7,347.46,34.0
2,3,Tom Brady,NE,QB,12,819,68.2,73.1,3.4,0.0,56.2,56.2,258.56,31.6
3,4,Andrew Luck,IND,QB,15,1013,67.5,92.4,6.3,0.0,60.1,60.1,307.70,30.4
4,5,Colin Kaepernick,SF,QB,12,690,57.5,66.7,10.0,0.0,58.1,58.1,200.44,29.0

In [11]:
snap_count16.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'RushSnapPercentage',
                   'TargetSnapPercentage', 'TouchSnapPercentage', 'IntendedTouchSnapPercentage',
                   'FantasyPoints', 'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count16.head()

               Name Team Position  SnapsPlayed
0     Aaron Rodgers   GB       QB         1066
1         Matt Ryan  ATL       QB         1022
2         Tom Brady   NE       QB          819
3       Andrew Luck  IND       QB         1013
4  Colin Kaepernick   SF       QB          690

In [12]:
qb17 = "../Snap Count/qb/qb2017.csv"

snap_count17 = pd.read_csv(qb17)
snap_count17.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,RushSnapPercentage,TargetSnapPercentage,TouchSnapPercentage,IntendedTouchSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Deshaun Watson,HOU,QB,7,464,66.3,59.4,7.8,0.0,51.7,51.7,168.86,36.4
1,2,Russell Wilson,SEA,QB,16,1063,66.4,99.5,8.9,0.0,61.0,61.0,347.92,32.7
2,3,Carson Wentz,PHI,QB,13,879,67.6,93.9,7.3,0.0,57.3,57.3,281.74,32.1
3,4,Aaron Rodgers,GB,QB,7,418,59.7,53.5,5.7,0.0,62.7,62.7,129.60,31.0
4,5,Alex Smith,KC,QB,15,966,64.4,93.5,6.2,0.0,58.5,58.5,295.18,30.6

In [13]:
snap_count17.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'RushSnapPercentage',
                   'TargetSnapPercentage', 'TouchSnapPercentage', 'IntendedTouchSnapPercentage',
                   'FantasyPoints', 'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count17.head()

             Name Team Position  SnapsPlayed
0  Deshaun Watson  HOU       QB          464
1  Russell Wilson  SEA       QB         1063
2    Carson Wentz  PHI       QB          879
3   Aaron Rodgers   GB       QB          418
4      Alex Smith   KC       QB          966

In [14]:
qb18 = "../Snap Count/qb/qb2018.csv"

snap_count18 = pd.read_csv(qb18)
snap_count18.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,RushSnapPercentage,TargetSnapPercentage,TouchSnapPercentage,IntendedTouchSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Ryan Fitzpatrick,TB,QB,4,226,56.5,69.1,8.0,0.0,65.0,65.0,100.44,44.4
1,2,Patrick Mahomes,KC,QB,6,392,65.3,100.0,6.1,0.0,60.2,60.2,158.10,40.3
2,3,Matt Ryan,ATL,QB,6,401,66.8,97.8,3.5,0.0,59.4,59.4,150.84,37.6
3,4,Jameis Winston,TB,QB,2,101,50.5,78.3,5.9,0.0,66.3,66.3,37.20,36.8
4,5,Drew Brees,NO,QB,5,342,68.4,99.1,2.9,0.3,58.8,58.8,125.02,36.6

In [15]:
snap_count18.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'RushSnapPercentage',
                   'TargetSnapPercentage', 'TouchSnapPercentage', 'IntendedTouchSnapPercentage',
                   'FantasyPoints', 'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count18.head()

               Name Team Position  SnapsPlayed
0  Ryan Fitzpatrick   TB       QB          226
1   Patrick Mahomes   KC       QB          392
2         Matt Ryan  ATL       QB          401
3    Jameis Winston   TB       QB          101
4        Drew Brees   NO       QB          342

In [16]:
# Combine the Data Frames for QB’s

qb_frames = [snap_count12, snap_count13, snap_count14, snap_count15, snap_count16, snap_count17, snap_count18]
qb_result = pd.concat(qb_frames)

In [17]:
qb_result.head()

                 Name Team Position  SnapsPlayed
0        Kirk Cousins  WAS       QB           95
1  Robert Griffin III  WAS       QB          938
2    Colin Kaepernick   SF       QB          526
3       Aaron Rodgers   GB       QB         1071
4          Cam Newton  CAR       QB         1021